.card-body{
    text-align: left;
}

.card{
    margin: 5px;
    padding: 10px;
    box-shadow: 0 3px 11px rgb(0 0 0 / 17%);
}
.card-info{
    padding: 5px 0;
}
.criteria input[type = text],.form-check input[type = text]{
    width: 45px;
    height: 26px;
    display: inline;
    position: relative;
    top: 3px;

}
#range-inp{
    width: 80px;
}